<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Droppable - Default functionality</title>
    <style>
    * {
      box-sizing: border-box;
    }
    .mydrag {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    .red {
      background-color: red;
    }
    .yellow {
      background-color: lightyellow;
    }

    table {
      margin: 20px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      /*width: 100%;*/
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="cohortSection" class="mySection" style="display: inline-block;" v-if='tableData.cohort'>
        <div v-for='cohort in tableData.cohort'>
          <div class="draggableMajor mydrag" data-type="1" :data-name="cohort.name" draggable="true" @dragstart='drag($event)' v-bind:style="{'background-color': cohort.color}">
          </div> 
          <div style="display: inline-block;">{{ cohort.name }}</div>
        </div>
      </div>

      <div id="teacherSection" class="mySection" style="display: inline-block;" v-if='tableData.teacher'>
        <div style="margin: 5px" v-for='name in tableData.teacher.name'>
          <div class="draggableTeacher mydrag" data-type="2" draggable="true" @dragstart='drag($event)' style="text-align: center; width: 50px; border: 1px solid;" :style="{'border-color':tableData.teacher.color}">
            {{ name }}
          </div>
        </div>
      </div>    

      <div id="roomSection" class="mySection" style="display: inline-block;" v-if='tableData.room'>
        <div style="margin: 5px" v-for='name in tableData.room.name'>
          <div class="draggableRoom mydrag" data-type="3" draggable="true" @dragstart='drag($event)' style="text-align: center; width: 50px; border: 1px solid;" :style="{'border-color':tableData.room.color}">
            {{ name }}
          </div>
        </div>
      </div>  
      

      <div id="tableSection" style="position: relative;">
        <div id="iButtons" style="position: absolute; width: 20px;">
          <input style="width: 100%" type="button" value="+" @click="addRow">
          <input style="width: 100%" type="button" value="-" @click="removeRow">
        </div>
        
        <table id="iTable">
          <tbody id="iTBody">
            <tr>
              <td colspan="120" style="text-align: center;">
                总班级课表
              </td>
            </tr>
            
            <tr>
              <td colspan="120" style="text-align: center;">
                2017-2018学年第2学期
              </td>
            </tr>
            
            <tr id="iTWeekNum">
              <td colspan="6">
                周次
              </td>
              <td v-for="i in tableData.totalweeks">
                {{ i }}
              </td>
            </tr>
            
            <tr id="iTHead">
              <th>星期</th>
              <th>节次</th>
              <th>时间</th>
              <th>专业/班级</th>
              <th>授课老师</th>
              <th>上课教室</th>
              <th v-for="i in dateArr">
                {{ i }}
              </th>
            </tr>
            
            <template v-if="tableData.rows" v-for="(sessions, weekday) in tableData.rows">
              <template v-for="(session, si) in sessions">
                <tr v-for="(tick, ti) in session.ticks">
                  <td @mouseover="mouseover($event)" @mouseout="mouseout($event)">
                   {{ weekday }} 
                  </td>
                  <td>
                    {{ session.sessionnum }}
                  </td>
                  <td>
                    {{ session.sessiontime }}
                  </td>
                  <td @drop="drop($event)" @dragover='dragover($event)' data-type="1">
                    {{ tick.cohort }}
                  </td>
                  <td @drop="drop($event)" @dragover='dragover($event)' data-type="2">
                    {{ tick.teacher }}
                  </td>
                  <td @drop="drop($event)" @dragover='dragover($event)' data-type="3">
                    {{ tick.room }}
                  </td>
                  <td v-for="i in tableData.totalweeks" :class="{dropped: tick[i]}" :data-day="weekday" :data-si="si" :data-ti="ti" :data-x="i" @mousedown="mousedown($event)">
                    <template v-if="tick[i]">&radic;</template>
                  </td>
                </tr>
              </template>
            </template>
          </tbody>  
        </table>  
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
      let dom = null;
      var vm = new Vue({
        el: '#app',
        data: {
          mDay: null,
          mSi: null,
          mTi: null,
          tableData: {
            title: '总班级课表',
            year: '2017-2018',
            semester: '2',
            totalweeks: 20,
            startdate: '03/5/2018',
            cohort:[
              {color: "cadetblue", name: 'Construction Management 1701'}, 
              {color: "darkturquoise", name: 'Construction Management 1702'}, 
              {color: "beige", name: 'Civil Engineering 1701'}, 
              {color: "darkorange", name: 'Civil Engineering 1702'},
            ],
            teacher:{
              color: "orange", name: ['Alice', 'Jack', 'Pony', 'John']
            },
            room:{
              color: "khaki",
              name: ['10-108', '10-102', '10-107', '10-103']
            },
            rows:{
              Mon: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined, 8: true},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined, 2:true},
                  ]
                },
              ],
              Tue: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],
              Wed: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],
              Thu: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],
              Fri: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],
              Sat: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],              
              Sun: [
                {
                  sessionnum: '1-2', sessiontime:'08:30-10:05',  
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '3-4', sessiontime:'10:25-12:00', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '5-6', sessiontime:'14:00-15:35', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '7-8', sessiontime:'15:45-17:20', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
                {
                  sessionnum: '9-10', sessiontime:'19:30-21:05', 
                  ticks:[
                    {cohort:undefined, teacher:undefined, room:undefined,},
                    {cohort:undefined, teacher:undefined, room:undefined,},
                  ]
                },
              ],
            },
          },

          anotherDate:[],
        },
        computed:{
          dateArr: function(){
            var weekArr = [];
            for(let i = 1; i <= this.tableData.totalweeks; i++){
              let mDate = this.getNextWeek(this.tableData.startdate);
              weekArr.push((mDate.getMonth()+1)+'/'+mDate.getDate());
            }
            return weekArr;
          }
        },
        methods:{
          getNextWeek: (function(){
            let myday;
            return function(arg){
              myday = myday || (arg?new Date(arg):new Date());
              myday = new Date(myday.getFullYear(), myday.getMonth(), myday.getDate()+7);
              return myday;
            }
          })(),
          mousedown: function(e){
            var content = e.target.innerHTML;
            var si = e.target.getAttribute("data-si");
            var ti = e.target.getAttribute("data-ti");
            var x = e.target.getAttribute("data-x");
            console.log(si, ti, x, content);

            if(content == "\u221A"){
              e.target.innerHTML = '';
              event.target.classList.remove("dropped");
              event.target.style['background-color'] = "transparent"
            } else{
              e.target.innerHTML = '&radic;';
              event.target.classList.add("dropped");
              var coloredOne = e.target.parentElement.querySelector('.dropped');
              if(coloredOne){
                event.target.style['background-color'] = coloredOne.style['background-color'];
              }
            }
          },

          addRow: function(){
            var test = {
              sessionnum: 'testest', sessiontime:'19:30-21:05', 
              ticks:[
                {cohort:undefined, teacher:undefined, room:undefined,},
                {cohort:undefined, teacher:undefined, room:undefined,},
              ]
            }
            // vm.$data.tableData.rows['Mon'][0].ticks[0]['1'] = true;
            var theOne = this.tableData.rows[this.mDay][this.mSi]['ticks'][this.mTi];
            console.log(this.mDay, this.mSi, this.mTi, theOne);
            this.tableData.rows[this.mDay][this.mSi]['ticks'].splice(this.mTi, 0, theOne);
          },
          removeRow: function(){

          },

          drag:function(event){
            dom = event.currentTarget;
          },
          drop:function(event){
            event.preventDefault();
            var mType = dom.getAttribute("data-type");
            var mDropType = event.target.getAttribute("data-type");
            if(mType !== mDropType){
              return;
            }
            console.log(mType);
            switch(mType){
              case '1':
                event.target.style['background-color'] = dom.style['background-color'];
                event.target.innerText = dom.getAttribute("data-name");
                event.target.classList.add("dropped");
                event.target.parentElement.querySelectorAll('.dropped').forEach(function(elm, idx){
                  elm.style['background-color'] = dom.style['background-color'];
                })
              break;
              case '2':
                event.target.innerText = dom.innerText;
                event.target.classList.add("dropped");
                var coloredOne = event.target.parentElement.querySelector('.dropped');
                if(coloredOne){
                  event.target.style['background-color'] = coloredOne.style['background-color'];
                }
              break;
              case '3':
                event.target.innerText = dom.innerText;
                event.target.classList.add("dropped");
                var coloredOne = event.target.parentElement.querySelector('.dropped');
                if(coloredOne){
                  event.target.style['background-color'] = coloredOne.style['background-color'];
                }
              break;
              default:
              console.log("error switch");
            }
            event.target.ondblclick = function(){
              console.log(this)
              this.innerText = '';
              this.removeAttribute('style');
              this.classList.remove('dropped');
              this.ondblclick = null;
              if(mType == 1){
                this.parentElement.querySelectorAll('.dropped').forEach(function(elm, idx){
                  elm.style['background-color'] = 'transparent';
                })
              } 
            }
          },
          dragover:function(event){
            event.preventDefault();
          },
          mouseover:function(event){
            var btn = document.getElementById("iButtons");
            btn.style.top = event.target.offsetTop + 'px';
            var firstDay = event.target.parentElement.querySelector('[data-day]');
            this.mDay = firstDay.getAttribute("data-day");
            this.mSi = firstDay.getAttribute("data-si");
            this.mTi = firstDay.getAttribute("data-ti");
            console.log(this.mDay, this.mSi, this.mTi);
          },
          mouseout:function(event){

          },



        },
        created: function(){

        },
      });
      
      // console.log(vm.$data);
      // var test = {
      //   sessionnum: 'testest', sessiontime:'19:30-21:05', 
      //   ticks:[
      //     {cohort:undefined, teacher:undefined, room:undefined,},
      //     {cohort:undefined, teacher:undefined, room:undefined,},
      //   ]
      // }
      // vm.$data.tableData.rows['Mon'][0].ticks[0]['1'] = true;
      // vm.$data.tableData.rows['Sun'].push(test);
      // console.log(vm.$data);
    </script>
    
  </body>
</html>